<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>promo-tile demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../promo-tile.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic promo-tile demo</h3>
      <demo-snippet>
        <template>
          <promo-tile title="Virtual Reality" image="https://www.wallpaperflare.com/static/739/747/773/intel-project-alloy-vr-idf-virtual-reality-wallpaper.jpg" alt="student using VR goggles" url="https://www.google.com">
            <slot>Add exciting virtual experiences to your online classroom.</slot>
          </promo-tile>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
